USE [master]
GO
/****** Object:  Database [ODB]  ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'ODB')
BEGIN
CREATE DATABASE [ODB] ON  PRIMARY 
( NAME = N'ODB_Data', FILENAME = N'C:\SQL Data\ODB\ODB_Data.MDF' , SIZE = 1024KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'ODB_Log', FILENAME = N'C:\SQL Data\ODB\ODB_Log.LDF' , SIZE = 512KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
END

GO
EXEC dbo.sp_dbcmptlevel @dbname=N'ODB', @new_cmptlevel=80
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ODB].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO