USE [ODB]
GO
/****** Object:  StoredProcedure [dbo].[ItemTypeAttributes_SelectByItemTypeId]    Script Date: 08/19/2011 23:57:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ItemTypeAttributes_SelectByItemTypeId]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[ItemTypeAttributes_SelectByItemTypeId]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ItemTypeAttributes_SelectByItemTypeId]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
-- =============================================
-- Stored Procedure:    <name>
-- Created on:          <date>
-- Author:              <name>
-- Purpose:             <Explain why the SP exists>
-- Business Rule:
-- Input Parameters: 
-- Output Parameters:
-- Return Status:
-- Tasks:
-- Usage:
-- Called by:
-- Calls:
-- Notes:
-- Data Modifications;
-- Change History:
    
-- =============================================
CREATE PROCEDURE [dbo].[ItemTypeAttributes_SelectByItemTypeId]
(
    @ItemTypeId uniqueidentifier
)
AS
    SET NOCOUNT ON;

	SELECT 
		itemtypeattribute_id, 
		itemtype_id, 
		attribute_id, 
		usage_attributes, 
		datatype_id, 
		itemtypeattribute_version, 
		itemtypeattribute_description
   FROM 
		ItemTypeAttributes 
   where 
		itemtype_id = @ItemTypeId
' 
END
GO
