USE [master]
GO
/****** Object:  Database [ODB]    Script Date: 08/19/2011 23:57:16 ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'ODB')
BEGIN
CREATE DATABASE [ODB] ON  PRIMARY 
( NAME = N'ODB_Data', FILENAME = N'F:\MSSQLDATA\ODB\ODB_Data.MDF' , SIZE = 10240KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'ODB_Log', FILENAME = N'F:\MSSQLDATA\ODB\ODB_Log.LDF' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ODB].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
