<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
  </configSections>
  <appSettings>
    <!-- Need this to make data binding work with Windows Forms -->
    <!--<add key="CslaPropertyChangedMode" value="Windows"/>-->    
    <!-- Need this to make data binding work with WPF-->
    <add key="CslaPropertyChangedMode" value="Xaml"/>
    <!--<add key="DalManagerType" value="DataAccess.Mock.DalManager,DataAccess.Mock"/>-->
    <add key="DalManagerType" value="HIS.DAL.Sql.DALManager,HIS.DAL.Sql"/>
    <!--<add key="DalManagerType" value="DataAccess.SqlEf.DalManager,DataAccess.SqlEf" />-->
  </appSettings>
  <connectionStrings>
    <!--<add name="LocalDB" connectionString="Data Source=A097912X0P\SQLEXPRESS;Initial Catalog=HIS DB;Integrated Security=True" />-->
    <!--<add name="LocalDB" connectionString="Data Source=MATRIX;Initial Catalog=HIS DB;Integrated Security=True" />-->
    <!--<add name="LocalDB" connectionString="Data Source=PARTHENON;Initial Catalog=HIS DB;Integrated Security=True" />-->
    <add name="LocalDB" connectionString="Data Source=TRON;Initial Catalog=HIS DB;Integrated Security=True" />
    <add name="RemoteDB" connectionString="Data Source=PARTHENON;Initial Catalog=HIS DB;Integrated Security=True" />
    <!--<add name="SqlDbEntities" connectionString="metadata=res://*/SqlDb.csdl|res://*/SqlDb.ssdl|res://*/SqlDb.msl;provider=System.Data.SqlClient;provider connection string='Data Source=.\SQL2008;AttachDbFilename=&quot;C:\Visual Studio Projects\csla\CslaClass\UsingCsla4\03-DataAccess\EncapsulatedInvoke\WpfUI\SqlDb.mdf&quot;;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True'" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add fileName="C:\temp\logs\HIS_Administration.log" header="" footer="" formatter="FlatFile Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="FlatFile TraceListener"/>
      <add source="Enterprise Library Logging" formatter="Text Formatter" log="Application" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="Formatted EventLog TraceListener"/>
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp}&#xD;&#xA;Message:{keyvalue(Class Name)}.{keyvalue(Method Name)} &gt;  {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority} Severity: {severity}&#xD;&#xA;Process: {processName} - {processId}&#xD;&#xA;Thread: {threadName} - {win32ThreadId}&#xD;&#xA;User:{keyvalue(User Name)}&#xD;&#xA;Title:{title}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}"











    type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="ErrorLog Formatter"/>
      <add template="{timestamp(local)}|{category}|{priority}|{severity}|{processName}|{processId}|{threadName}|{win32ThreadId}|{keyvalue(User Name)}|{keyvalue(Class Name)}.{keyvalue(Method Name)}|{keyvalue(Duration)}|{message}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="FlatFile Formatter"/>
      <add template="Timestamp: {timestamp}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}"













    type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="Text Formatter"/>
    </formatters>
    <logFilters>
      <add minimumPriority="0" maximumPriority="10010" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.PriorityFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="Priority Filter"/>
    </logFilters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="FlatFile TraceListener"/>
        </listeners>
      </add>
      <add switchValue="All" name="HIS">
        <listeners>
          <add name="FlatFile TraceListener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="Formatted EventLog TraceListener"/>
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Formatted EventLog TraceListener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
</configuration>